@tailwind base;
@tailwind components;
@tailwind utilities;

/*

@layer components {
  .btn-primary {
    @apply py-2 px-4 bg-blue-200;
  }
}

*/

::view-transition-old(root), ::view-transition-new(root) {
  animation-duration: 0.150s;
}
@import 'actiontext.css';

.reveal {
  opacity: 0;
  transform: translateY(20px);
  transition: 1s cubic-bezier(0.5, 0, 0, 1);
  transition-property: opacity, transform;
}
.reveal.in {
  opacity: 1;
  transform: none;
}
