<h1 class="text-center text-2xl font-bold my-4">
  Toutes les catégories
</h1>

<%= link_to 'Créer une nouvelle catégorie', new_category_path, class: "bg-blue-800 px-4 py-2 rounded-sm hover:bg-blue-700 transition hover:duration-300" %>

<main class="p-10">
  <%= render 'categories/components/categories-grid', categories: @categories %>
</main>
