<%# app/views/layouts/filter/_aside-filter.html.erb %>

<aside class="bg-black">
  <h2 class="text-center">
    filter by
  </h2>
  <ul>
    <li>category</li>
    <li>collection</li>
    <li>price</li>
    <li>keywords</li>
  </ul>
</aside>

<%# render 'layouts/filter/aside-filter' %>
