<h1 class="text-center text-2xl font-bold my-4">
  Nouveau Produit
</h1>

<main class="md:w-1/2 mx-auto my-4">
  <%= render 'products/components/form', product: @product, categories: @categories, collections: @collections, submit_label: "Créer le produit" %>
</main>
