<header>
  <nav class="px-8 py-4">
    <ul class="flex justify-end gap-4">
      <li>
        <%= link_to 'Collections', collections_path, class: 'underline transition hover:duration-150 hover:no-underline' %>
      </li>
      <li>
        <%= link_to 'Catégories', categories_path,  class: 'underline transition hover:duration-150 hover:no-underline' %>
      </li>
      <li>
        <%= link_to 'Produits', products_path,  class: 'underline transition hover:duration-150 hover:no-underline' %>
      </li>
    </ul>
  </nav>
</header>
